allow bootanim nxserver:binder call;
allow bootanim nexus_service:service_manager find;

allow bootanim nexus_data_file:dir { search read };
allow bootanim nexus_data_file:file { read open getattr };

unix_socket_connect(bootanim, nxserver, nxserver)
