allow untrusted_app nxserver:binder call;
allow untrusted_app proc_sysrq:file getattr;
allow untrusted_app hwcbinder:binder { transfer call };
allow untrusted_app nexus_service:service_manager find;

dontaudit untrusted_app nexus_data_file:dir search;
dontaudit untrusted_app nexus_data_file:file { read getattr open };

unix_socket_connect(untrusted_app, nxserver, nxserver)
